.scientificWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: red; */
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  animation: slideOut 0.3s forwards; /* Default state is slid out */
  display: flex;
  justify-content: space-evenly;

}
.scientificWrapper button {
  padding: 10px;
  color: black;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  border-radius: 4px;
  cursor: pointer;
}
.scientificWrapper button:hover {
  background-color: #f7f7f7;
}
.extraButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  width: 350px;
  padding: 10px 0 10px 0;
  background: whitesmoke;
  border: 2px solid green
}

.closeButton {
  background: red;
  position: absolute;
  top: -2rem;
  right: 0;
}

/* Slide-in animation */
@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

/* Slide-out animation */
@keyframes slideOut {
  to {
    transform: translateY(100%);
  }
}
